body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-second-part {
    color: #2E2F42;
}

.site-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-site-link {
    color: #404BBF;
    position: relative;
}

.first-site-link::after,
.first-site-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    min-width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
    flex-shrink: 0;
}

.site-links:hover,
.site-links:focus {
    color: #404BBF;
}

.phone-and-mail {
    font-style: normal;
}


.adress-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-data:hover,
.adress-data:focus {
    color: #404BBF;
}

.first-slide {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    margin: auto;
}


.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.order-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.second-slide-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;

}

.second-slide-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.third-slide {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-slide-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.third-slide-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-slide-employee {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}

.third-slide-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.fourth-slide-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.project-example-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.project-example-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.ending {
    background-color: #2E2F42;
    padding: 100px 0;
}

.ending-logo-second-part {
    color: #F4F4FD;
}

.ending-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #F4F4FD;
    max-width: 264px;
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
}

.site-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-header-container {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-site-links {
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.phone-and-mail-for-flex {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.second-slide {
    padding: 120px 0;
}

.second-slide-info {
    display: flex;
    gap: 24px;
}

.second-slide-item {
    width: calc((100% - 72px)/4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.third-slide-list {
    display: flex;
    gap: 24px;
}

.employee-container {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}

.fourth-slide {
    padding: 120px 0;
}

.fourth-slide-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-slide-list-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-slide-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-slide-list-item:hover .additional-text {
    transform: translateY(0%);
}

.fourth-slide-list-item-text {
    padding: 32px 16px 32px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.ending-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.second-slide-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.employee-social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.employee-social-media-item {
    width: 40px;
    height: 40px;
}

.employee-social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-media-link:hover,
.employee-social-media-link:focus {
    background-color: #404bbf;
}

.social-media-icon {
    fill: #f4f4fd;
}

.fourth-slide-list-item-photo {
    position: relative;
    overflow: hidden;
}

.additional-text {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
}

.div-for-icon {
    position: relative;
}

.finger-icon {
    position: absolute;
    right: 13px;
    top: 112px;
}

.ending-div {
    display: flex;
    align-items: baseline;
}

.first-part-of-ending {
    margin-right: 120px;
}

.second-part-of-ending {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.ending-social-media {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ending-social-media-item {
    width: 40px;
    height: 40px;
}

.ending-social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ending-social-media-link:hover,
.ending-social-media-link:focus {
    background-color: #31d0aa;
}

.third-part-of-ending {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-left: 80px;
}

.ending-text-form {
    display: flex;
    gap: 24px;
    margin-left: 80px;
}

.third-part-ending-btn {
    padding: 8px 24px;
}

.third-part-ending-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.third-part-ending-input::placeholder {
    color: #FFFFFF;
}

.third-part-ending-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
}

.icon-of-sending-email {
    margin-left: 16px;
    fill: #fff;

}

.backdrop {
    z-index: 999999;
    background-color: rgba(46, 47, 66, 0.40);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn {
    line-height: 0;
    border: none;
    background-color: #FCFCFC;
    fill: #E7E9FC;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: transform 25ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.label-for-pers-info-input {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.input-text {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:hover,
.input-text:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus+.modal-icon {
    fill: #4D5AE5;
}

.last-input-con {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.textarea:focus,
.textarea:hover {
    border-color: #4D5AE5;
}

.terms-and-conditions {
    margin-bottom: 24px;
}

.terms-and-conditions-label {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.terms-and-conditions-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-last-container {
    margin-bottom: 16px;
}

.user-privacy:checked+.terms-and-conditions-label>.terms-and-conditions-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy-link {
    color: #4d5ae5;
    text-decoration: underline;
    cursor: pointer;
}

.modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    outline: none;
}