.first-slide {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/1x/people-office-mobile.jpg);
    background-repeat: no-repeat;
    max-width: 320px;
    background-position: center;
    margin: 0 auto;
}

.main-title {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin: 0 auto;
    max-width: 220px;
}

.order-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/2x/people-office-@2xtablet.jpg);
    }
}

@media screen and (min-resolution: 288dpi) and (max-width: 767px),
screen and (min-resolution: 3dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 3) and (max-width: 767px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/3x/people-office-@3xtablet.jpg);
    }
}

/* TABLET */

@media screen and (min-width: 768px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/1x/people-office-tablet.jpg);
        background-repeat: no-repeat;
        max-width: 768px;
        background-position: center;
        padding: 112px 0;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto;
        max-width: 496px;
    }

    .order-button {
        margin-top: 32px;
    }

}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/2x/people-office-@2xtablet.jpg);
    }
}

@media screen and (min-resolution: 288dpi) and (min-width: 768px),
screen and (min-resolution: 3dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 3) and (min-width: 768px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/3x/people-office-@3xtablet.jpg);
    }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/1x/people-office-desktop.jpg);
        background-repeat: no-repeat;
        min-width: 1158px;
        background-position: center;
        padding: 188px 0;
        margin: 0 auto;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto;
        max-width: 496px;
    }

    .order-button {
        margin-top: 48px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/2x/people-office-@2xdesktop.jpg);
    }
}

@media screen and (min-resolution: 288dpi) and (min-width: 1158px),
screen and (min-resolution: 3dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 3) and (min-width: 1158px) {
    .first-slide {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/3x/people-office-@3xdesktop.jpg);
    }
}

/* .first-slide {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    margin: auto;
}


.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.order-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
} */